.comparisonPage {
  .comparison {
    text-decoration: underline;
    font-weight: bold;
  }


.btn {
  margin: 5px
}

#disclaimer {
  margin-left: 17px;
  font-size: 12px;
}
}

.ir-card-header {
  background-color: lightblue !important;
  font-weight: bold;
  font-size: 20px;
}

// .homepage {

// .homepageheader {
//   background-color: #9295d1
// }
// }

// .searchcity{
//   .ir-card-header {
//     background-color: #9295d1;
//   } 
// }