.comparisonPage {
  .comparison {
    text-decoration: underline;
    font-weight: bold;
  }

.ir-card-header {
  background-color: lightblue !important;
  font-weight: bold;
  font-size: 20px;
}

.btn {
  margin-right: -50px;
}

}